<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <input class="input" />
    <div class="simple-keyboard"></div>

</ion-content>
